{{> head }}

    {{> navbar }}

    <div class="container-fluid">
        <h1>This is about life</h1>
        <div class="row">
            <div class="col-8">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p></p>
            </div>
            <div class="col-4">
                <img src="assets/images/pic.jpg" class="img-thumbnail">             
            </div>
        </div>
    </div>



{{> foot }}